@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: black;
  background-color: white;
}

@font-face {
  font-family: SweiMarkerSansCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-marker-sans@2.0/WebFont/CJK%20TC/SweiMarkerSansCJKtc-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/swei-marker-sans@2.0/WebFont/CJK%20TC/SweiMarkerSansCJKtc-Regular.woff)
      format("woff");
}

body {
  background-color: #000;
  font-family: SweiMarkerSansCJKtc-Regular, sans-serif;
}

.App::-webkit-scrollbar {
  display: none;
}

.App {
  /* For Edge */
  max-height: 100%;
  /* WebKit-based browsers will ignore this */
  max-height: -moz-available;
  /* Mozilla-based browsers will ignore this. */
  max-height: -webkit-fill-available;
  /* For WebKit-based browsers, Edge not support this */
  max-height: fill-available;
}
